[General]
msfile = 13B-124.sb27302442.eb28032927.56588.28332761574.ms
myflaggedfile =
#
# IMPORTANT: no quotes in file names
bpcal_flags = cfgfiles/Q-bpcal.flags
gcal_flags = cfgfiles/Q-gcal.flags
targets_flags = cfgfiles/Q-targets.flags

# prefix for file names
prefix = iras_05327+3404-Q

infodir = info/
caldir = cal/
splitdir = splits/


# reference antenna
rfant = 8

# model for flux calibrator
fluxmod = 3C147_Q.im
fcalshowmod = 2&3

# general values of avgchan and avgtime
avgchan = 0
avgtime = 0

# field definitions of the diferent source
bandpass_cal = 6
flux_cal = 6
gain_cal = 2
targets = 3

fluxcalname = 3C147
gaincalname = J0555+3948
targetsname = SMM1

# run options
runoption = unattended

# symbol parameters
customsym = True
symshape = circle
symsize = 5

output_chanwidth = 1

[PlotElev]
# values for plotting elevation vs time
avgchan = 4
spw = 2

[PlotAmpTime]
avgchan = 8
#avgtime = 4
spw = 2

[PlotBP_AmpTime]
scan = 44
spw = 2~65
avgchan = 4
avgtime = 5
#runoption = new
showgui = F

[PlotBP_AmpBase]
avgchan = 4
spw = 2~65
scan = 44
avgtime = 10
#runoption = checkonly
showgui = F

[PlotBP_AmpFrq]
#avgchan = 8
spw = 2~65
antenna = 0~26
scan = 44
avgtime = 10
#runoption = new
#runoption = checkonly
showgui = F

[PlotBP_PhaFrq]
#avgchan = 8
spw = 2~65
antenna = 0~26
scan = 44
avgtime = 10
#runoption = new
#runoption = checkonly
showgui = F

[GC_AmpTime]
avgchan = 4
avgtime = 5
spw = 2
#runoption=new

[GC_AmpTime_spw]
#scan = 5
spw = 2~65
#avgchan = ''
avgtime = 10
#runoption = new
showgui = F

[GC_AmpBase]
avgchan = 0
spw = 2~65
#scan = 4
avgtime = 10
#runoption = checkonly
showgui = F

[GC_AmpFrq]
#avgchan = 8
spw = 2~65
antenna = 0~26
#scan = 4
avgtime = 10
#runoption = new
#runoption = checkonly
showgui = F

[GC_PhaFrq]
#avgchan = 8
spw = 2~65
antenna = 0~26
#scan = 5
avgtime = 10
#runoption = new
#runoption = checkonly
showgui = F

[Tgt_AmpTime_spw]
spw = 2~65
avgchan = 4
avgtime = 1
#runoption = new
showgui = F


[Tgt_AmpFrq]
avgchan = 4
spw = 2~65
antenna = 0~26
#scan = 4
avgtime = 10
#runoption = new
#runoption = checkonly
showgui = F


[Calibration]
antennarange = 0 26
opacspwrange = 0 65
spwrange = 2 65
midchannels = 3~12 
allchannels = 0~65
showgui = True
# symbol parameters
customsym = True
symshape = circle
symsize = 3
